<?xml version="1.0" encoding="utf-8"?>
<!--{{urvanov-syntax-highlighter-internal:0}}-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="C:\Users\Ika\source\repos\MyBooks.Api\MyBooks.Api/logs/${shortdate}_internallog.txt">
<!--${basedir}-->
  <targets>
    <target name="logfile" xsi:type="File"
            fileName="C:\Users\Ika\source\repos\MyBooks.Api\MyBooks.Api/logs/${shortdate}_logfile.txt"
      layout="${longdate} ${level:uppercase=true} ${message}"/>
    </targets>
<!--${basedir}-->
  <rules>
    <logger name="*" minlevel="Debug" writeTo="logfile" />
  </rules>
</nlog>